.exec-guest-table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.exec-guest-table {
  width: 100%;
}

.guest-table-container {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guest-table {
  width: 80%;
  margin-left: 3rem;
}
